# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run
apache-maven-3.2.5
BuildData
Bukkit
CraftBukkit
out
run
Spigot
work